In [6]:
# !pip install pytrec_eval
# !pip install trectools

In [7]:
import trectools as tr
import pandas as pd

In [8]:
mqdf = pd.read_csv('./MQ2007-agg/agg.txt', sep='\s+', header=None) #read mq2007 letor 4 file
mqdf.head(5)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,0,qid:10,1:NULL,2:NULL,3:NULL,4:NULL,5:NULL,6:NULL,7:NULL,8:NULL,...,21:NULL,#docid,=,GX000-00-0000000,inc,=,1.000000,prob,=,0.024691
1,1,qid:10,1:107,2:107,3:85,4:NULL,5:113,6:110,7:110,8:110,...,21:131,#docid,=,GX000-24-12369390,inc,=,0.600319,prob,=,0.416367
2,1,qid:10,1:NULL,2:NULL,3:NULL,4:1,5:8,6:14,7:14,8:14,...,21:NULL,#docid,=,GX000-62-7863450,inc,=,1.000000,prob,=,0.568950
3,1,qid:10,1:NULL,2:NULL,3:111,4:4,5:1,6:3,7:3,8:3,...,21:283,#docid,=,GX016-48-5543459,inc,=,1.000000,prob,=,0.775913
4,0,qid:10,1:160,2:160,3:117,4:57,5:102,6:209,7:209,8:209,...,21:44,#docid,=,GX037-87-3082362,inc,=,0.588907,prob,=,0.334800

In [9]:
# transform mq 2007

def ranking_value(x):
    if x == 'NULL':
        return 0
    else:
        return x
    
mqdf['relevance'] = mqdf[0]
mqdf['qid'] = mqdf[1].apply(lambda x: x.split(':')[1])
for i in range(2, 23):
    mqdf['ranking_'+str(i-1)] = mqdf[i].apply(lambda x: ranking_value(x.split(':')[1]))

mqdf['docid'] = mqdf[25]
ranking_columns = [f"ranking_{i}" for i in range(1,22)]
ranking_mqdf = mqdf[['qid', 'docid', 'relevance'] + ranking_columns]
ranking_mqdf.head(5)

,qid,docid,relevance,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,ranking_6,ranking_7,...,ranking_12,ranking_13,ranking_14,ranking_15,ranking_16,ranking_17,ranking_18,ranking_19,ranking_20,ranking_21
0,10,GX000-00-0000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,GX000-24-12369390,1,107,107,85,0,113,110,110,...,252,36,52,244,155,0,113,132,44,131
2,10,GX000-62-7863450,1,0,0,0,1,8,14,14,...,18,252,227,6,214,0,0,120,0,0
3,10,GX016-48-5543459,1,0,0,111,4,1,3,3,...,4,15,26,15,96,4,163,2,152,283
4,10,GX037-87-3082362,0,160,160,117,57,102,209,209,...,162,229,205,142,190,0,0,12,4,44

In [ ]:
ranking_mqdf.to_csv('./MQ2007-agg/transformed_agg.csv', sep="\t" ,index=False)