In [1]:
# !pip install pytrec_eval
# !pip install trectools

In [2]:
import trectools as tr
import pandas as pd

In [5]:
mqdf = pd.read_csv('./MQ2008-agg/agg.txt', sep='\s+', header=None) #read mq2008 letor 4 file
mqdf.head(5)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,0,qid:10002,1:1,2:30,3:48,4:133,5:NULL,6:265,7:NULL,8:208,...,25:NULL,#docid,=,GX008-86-4444840,inc,=,1.000000,prob,=,0.086622
1,0,qid:10002,1:NULL,2:NULL,3:NULL,4:NULL,5:NULL,6:NULL,7:NULL,8:NULL,...,25:NULL,#docid,=,GX037-06-11625428,inc,=,0.003159,prob,=,0.089745
2,0,qid:10002,1:NULL,2:NULL,3:NULL,4:NULL,5:NULL,6:8,7:NULL,8:124,...,25:NULL,#docid,=,GX044-30-4142998,inc,=,0.008419,prob,=,0.099974
3,0,qid:10002,1:NULL,2:NULL,3:NULL,4:NULL,5:NULL,6:NULL,7:NULL,8:NULL,...,25:13,#docid,=,GX228-42-3888699,inc,=,0.008419,prob,=,0.044481
4,0,qid:10002,1:NULL,2:NULL,3:NULL,4:NULL,5:NULL,6:NULL,7:NULL,8:NULL,...,25:1,#docid,=,GX229-14-12863205,inc,=,1.000000,prob,=,0.041016

In [8]:
# transform mq 2008
def ranking_value(x):
    if x == 'NULL':
        return 0
    else:
        return x
    
mqdf['relevance'] = mqdf[0]
mqdf['qid'] = mqdf[1].apply(lambda x: x.split(':')[1])
for i in range(2, 27):
    mqdf['ranking_'+str(i-1)] = mqdf[i].apply(lambda x: ranking_value(x.split(':')[1]))

mqdf['docid'] = mqdf[29]
ranking_columns = ["ranking_{i}" for i in range(1,26)]
ranking_mqdf = mqdf[['qid', 'docid', 'relevance'] + ranking_columns]
ranking_mqdf.head(5)

,qid,docid,relevance,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,ranking_6,ranking_7,...,ranking_11,ranking_12,ranking_13,ranking_14,ranking_15,ranking_16,ranking_17,ranking_18,ranking_19,ranking_25
0,10002,GX008-86-4444840,0,1,30,48,133,0,265,0,...,194,51,0,25,0,0,0,0,0,0
1,10002,GX037-06-11625428,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,18,100,120,0
2,10002,GX044-30-4142998,0,0,0,0,0,0,8,0,...,185,0,0,271,162,125,0,0,0,0
3,10002,GX228-42-3888699,0,0,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,0,13
4,10002,GX229-14-12863205,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
ranking_mqdf.to_csv('./MQ2008-agg/transformed_agg.csv', sep="\t" ,index=False)